

.cards{
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.art-github-link{
  font-size: 13.5px;
}


.card-img{
  width: 50%;
  text-align: center;
}

.card-content{
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background-color: #fafafa;
}

.project-descrip {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 12px;
}


.header{
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
